{%extends "layout.html" %}

{%block bl1%} 
<div class="block">
    <h1 style="font-size: 5vw; text-align: center; font-family:Franklin Gothic Medium;"> ABOUT US !</h1>
    <p class='py-20 text-green-900' style="font-size: 5vw; text-align: center;">
         Secret Confessinator is a mediator between you and your confessor.
         we send your confession to the email you provide us without exposing you.
         the receptor will only receive the name you provide in "from"section which is optional
         we send it from our system's email <br>
         we keep your confesion private and raw<br>
         have a happy confession  :)    <3

         
    </p>
</div>
{%endblock%}