{%extends "layout.html" %}

{%block bl1%} 
<div class="block">
    <h1 style="font-size: 5vw; text-align: center; font-family:Franklin Gothic Medium;"> ABOUT US !</h1>
    <p class='py-20 text-green-900' style="font-size: 5vw; text-align: center;">
        I am abhishek verma of class 12.<br>
        I am studing in pt. Deen Dayal Upadhyaya sanatan dharm vidhyalaya.<br>
        I made this webapp to represent my idle based drdo_patent into an interactive web application.<br>
        usign<br>
        <ol>
            <li>django - as backend</li>
            <li>tailwind css - for asthetic front-end</li>
            <li>heroku server - for hosting and running .py files </li>
        </ol>

         
    </p>
</div>
{%endblock%}