{%extends "layout.html" %}

{%block bl1%} 
<style>

    highlight{
        background-color: yellow;
        font-size: 120%;
        font:bold;

    }
    .welcome{
        color: green;
        font-size: 5vh;
        margin: 5vw;
        padding-left: 5vw;
        border-style:dashed;
        border-color: rgb(157, 231, 114);
        border-width: 5px;
        border-radius: 20px;
    }
    .ur{
        color: blue;
        font-style:underline;
        font-size: 3vh;
    }
    .ur:hover{
        color :chartreuse;
        text-decoration: underline;
    }
</style>
<div class="welcome">
    <h1>Welcome to the world of <highlight>abhipy</highlight></h1>
    <p>Hello! Friends, My name is  <highlight>Abhishek Verma.</highlight>
    </br>
        I make my webapp plese choose any link to proceed: </p>
    <div class="welcome">
        <a href='/registration/' class='ur'> Registration </a> </br>
        <a href='/login/' class='ur'> Login </a> </br>
        <a href='/about/' class='ur'> About </a> </br>
        <a href='/license/' class='ur'>License</a> </br>
    </div>
</div>

{%endblock%}